@use "./breakpoints" as *;
@use "./variables" as *;

.header {
  background-color: $BrainFlix-White;
  font-style: normal;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0rem 1rem 1rem;
  border-bottom: 1px solid #afafaf;
  @include medium {
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
  }
  @include large {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 1.563rem;
    width: 100%;
    @include medium {
      // width: 40%;
    }
  }
  &__container-search-upload-avatar {
    align-items: center;
    width: 100%;
    @include medium {
      display: flex;
      width: 50%;
    }
  }
  &__mobile-search-avatar-container {
    display: flex;
    margin: 1rem 0rem;
    width: 100%;
    justify-content: flex-end;
    margin-right: 20px;
  }

  &__mobile-avatar {
    @include medium {
      display: none;
    }
  }
  &__tablet-avatar {
    margin-top: 0.688rem;
    @include small {
      display: none;
    }
  }
  &__button-container {
    text-align: center;

    padding-right: 0rem;
    @include small {
      width: 98%;
      background-color: $BrainFlix-Blue;
    }
    @include medium {
      width: 50%;
      margin: 1rem;
    }
  }
  &__upload-link {
    text-decoration: none;
  }
  &__button {
    background-color: $BrainFlix-Blue;
    color: $BrainFlix-White;
    border: none;
    border-radius: 0.26rem;
    display: flex;
    justify-content: center;
    width: 98%;
    padding: 10px 40px;
    align-items: center;
    background-image: url("../../assets/Icons/upload.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: left;
  }
}

.search-bar {
  border: none;
  width: 100%;
  height: 2.25rem;
  padding-left: 2.5rem;
  background-color: $BrainFlix-Alabaster;
  border: solid 0.1rem $BrainFlix-Mercury;
  border-radius: 0.26rem;
  background-image: url("../../assets/Icons/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left;
  background-position-x: 1rem;

  @include medium {
    width: 20vw;
  }
}
