@use "./partials/header" as *;
@use "./partials/mainContent" as *;
@use "./partials/avatar" as *;
@use "./partials/variables" as *;

html,
body {
  margin: 0;
  font-family: "AvenirNext", sans-serif;
  line-height: 1.8rem;
  height: 100vh;
  color: $BrainFlix-Black;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
