@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.row {
  width: 100%;
}
.comment {
  margin-bottom: 20px;
  padding: 20px;

  padding-left: 0;
  border-top: 1px solid $BrainFlix-Sliver;
  @include large {
    // padding: 20px;
  }
  p {
    margin: 3px;
    color: $BrainFlix-Sliver;
  }
  &__avatar-circle {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__content {
    // width: 70%;
    h4 {
      margin-top: 0%;
      margin-bottom: 5px;
      color: $BrainFlix-Black;
    }
  }

  &__name-timestamp {
    justify-content: space-between;
  }
}
