@use "../../styles/partials/variables" as *;

.video {
  &__container {
    width: 95%;
    height: 15%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    .img-container {
      width: 170px;
      height: auto;
    }
  }

  &__title-channel-container {
    margin-left: 1rem;
  }

  &__image {
    margin-top: 1rem;

    border-radius: 10%;
    overflow: hidden;
  }

  &__title {
    font-size: 0.75rem;
    height: 100%;
    width: 100%;
    // color: $BrainFlix-Black;
    margin: 0rem;
  }

  &__channel {
    // color: $BrainFlix-Black;
    margin: 0rem;
    height: 100%;
    width: 100%;
  }

  @media only screen and (min-width: 1024px) {
  }
}
