@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.video {
  justify-content: center;
  &__full-container {
    flex-direction: column;
  }
  h1 {
    padding-left: 30px;
  }

  &__block {
    background-color: black;
  }
  &__details {
    width: 70%;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  &__like-icon {
    margin-left: 30px;
  }

  &__img {
    width: 80%;
    margin: auto;

    video {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  &__description {
    margin-bottom: 20px;
    padding: 30px;
    border-top: 1px solid $BrainFlix-Sliver;
  }

  &__stats {
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

    p {
      margin-left: 10px;
    }
  }

  &__comments-length {
    padding-left: 30px;
  }

  &__views-likes {
    color: $BrainFlix-Sliver;
  }

  &__creator-date {
    align-items: center;
  }

  &__date {
    color: $BrainFlix-Sliver;
  }

  &__comments-para {
    margin: 0;
  }

  &__comments {
    p {
      margin: 0;
    }
  }

  &__comment-bar {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .avatar {
      margin-top: 30px;
    }

    button {
      color: white;
      height: 50px;
      background: $BrainFlix-Blue;
      border: none;
      border-radius: 5px;
      margin-top: 30px;
      margin-left: 25px;
      @media screen and (max-width: 768px) {
        // width: 10vw;
        min-width: 200px;
        width: 100%;
      }
    }
  }
  &__avatar-input {
    display: flex;
    align-items: center;
  }
  &__input-comment {
    p {
      font-weight: bold;
      color: $BrainFlix-Sliver;
      text-transform: uppercase;
    }

    input {
      height: 50px;
      width: 35vw;
      border: 1px solid $BrainFlix-Sliver;
      border-radius: 5px;
      padding: 10px;
      @media screen and (max-width: 768px) {
        height: 9.375rem;
      }
      @media screen and (max-width: 1024px) {
        width: 30vw;
      }
    }
  }
  button {
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }

  &__sec-Video {
    padding-left: 16px;
    @include large {
      padding-left: 30px;
      border-left: 1px solid $BrainFlix-Sliver;
    }
  }
  &__next-title {
    color: $BrainFlix-Sliver;
  }
}

.flex {
  display: flex;
}

.row,
.col-12 {
  width: 100%;
}

@include medium {
  .video {
    &__full-container {
      flex-direction: column;
      margin: 0%;
    }
    &__input-comment {
      input {
        width: 85vw;
      }
    }
  }
}

@include large {
  .video {
    &__full-container {
      flex-direction: row;
      margin: 0px 8%;
    }
  }
}
