@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.video {
  justify-content: center;
  &__full-container {
    flex-direction: column;
  }
  h1 {
    padding-left: 30px;
  }

  &__block {
    background-color: black;
  }
  &__details {
    width: 100%;
    @include large {
      width: 70%;
    }
  }

  &__like-icon {
    margin-left: 30px;
  }

  &__img {
    width: 80%;
    margin: auto;

    video {
      width: 100%;
      max-height: 87vh;
    }

    img {
      width: 100%;
    }
  }

  &__description {
    margin-bottom: 20px;
    padding: 30px;
    border-top: 1px solid $BrainFlix-Sliver;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

    p {
      margin-left: 10px;
    }
  }

  &__comments-length {
    padding-left: 30px;
  }

  &__views-likes {
    display: flex;
    color: $BrainFlix-Sliver;
    flex-direction: column;
    @include medium {
      flex-direction: row;
    }
  }

  &__creator-date {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include medium {
      flex-direction: row;
    }
  }

  &__date {
    color: $BrainFlix-Sliver;
  }

  &__comments-para {
    margin: 0;
  }

  &__comments {
    padding: 0 1rem;
    @include large {
      padding: 0;
    }
    p {
      margin: 0;
    }
  }

  &__comment-bar {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .avatar {
      margin-top: 30px;
    }
  }
  &__avatar-input {
    display: flex;
    width: 100%;
    @include medium {
      align-items: center;
    }
  }
  &__input-comment {
    width: 100%;
    @include medium {
    }
  }
  &__comments-para {
    font-weight: bold;
    color: $BrainFlix-Sliver;
    text-transform: uppercase;
  }
  &__input-field {
    height: 50px;
    width: 100%;
    border: 1px solid $BrainFlix-Sliver;
    border-radius: 5px;
    padding: 10px;
  }
  &__comment-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    padding: 20px 50px;
    color: white;
    height: 50px;
    background: $BrainFlix-Blue;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 64px;
    width: 100%;

    background-image: url("../../assets/Icons/add_comment.svg") !important;
    background-repeat: no-repeat !important;
    background-size: 25px !important;
    background-position: left !important;
    background-position-x: 1rem !important ;
    @include medium {
      margin-left: 25px;
      width: unset;
    }
  }

  &__sec-Video {
    padding-left: 16px;
    @include large {
      padding-left: 30px;
      border-left: 1px solid $BrainFlix-Sliver;
    }
  }
  &__next-title {
    color: $BrainFlix-Sliver;
  }
}

.flex {
  display: flex;
}

.row,
.col-12 {
  width: 100%;
}

@include medium {
  .video {
    &__full-container {
      display: flex;
      flex-direction: column;
      margin: 0%;
    }
  }
}

@include large {
  .video {
    &__full-container {
      display: flex;
      flex-direction: row;
      margin: 0px 8%;
    }
  }
}
